[submodule "cppformat"]
	path = external/cppformat
	url = https://github.com/cppformat/cppformat.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
